<!DOCTYPE html>
<html lang="en" class="no-js">


	<!-- Start Head -->
	<head>
	
	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="text" content="">
		<meta name="author" content="">
		
		<!-- description -->
        <meta name="description" content="">
        <!-- keywords -->
        <meta name="keywords" content="">
		
		
		<!--Start Title -->
		<title>Argel Ramiro Photography</title>
		<!--End Title -->
		
		
		
		<!-- Start Favicon -->
		<link rel="shortcut icon" href="images/square-logo.png">
		<link rel="icon" href="images/square-logo.png" type="image/x-icon">
        <link rel="apple-touch-icon" href="images/square-logo.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/images/square-logo.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/images/square-logo.png">
		<!-- END Favicon -->
		
		
		

		<!-- Uikit Framework -->
		<link rel="stylesheet" href="css/uikit.min.css" />
		
		<!-- Bootstrap Framework -->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		
		<!-- Font Awesome -->
		<link rel="stylesheet" href="css/font-awesome.min.css">
		
		<!-- Main Stylesheet -->
		<link rel="stylesheet" href="css/style.css" />
		
		<!-- Responsive -->
		<link rel="stylesheet" href="css/responsive.css">

		<script src="js/vue.global.js"></script>

<!--		<script src="https://unpkg.com/vue@3"></script>-->
		
		
		
		<!--[if lt IE 9]>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->


	
	
	</head>
	<!-- End Head -->

	<!-- Main Body -->
	<body>
		<div id="app">

			<a href="javascript:" id="return-to-top"><span class="text-white" data-uk-icon="icon: chevron-up; ratio: 1.3"></span></a>

			<a href="#" class="navigation-button opacity-hover" data-uk-toggle="target: #offcanvas-nav"><span class="text-white" data-uk-icon="icon: menu; ratio: 1.3"></span></a>


			<!-- Loading Screen -->
			<div id="loader-wrapper">

				<!-- Loading Image -->
				<div class="loader-img"><img src="images/square-logo.png" alt="" /></div>
				<!-- END Loading Image -->


				<!-- Loading Screen Split -->
				<div class="loader-section section-left"></div>
				<div class="loader-section section-right"></div>
				<!-- End Loading Screen Split -->

			</div>
			<!-- End Loading Screen -->


			<!-- Off-Canvas Navigation -->
			<div id="offcanvas-nav" data-uk-offcanvas="mode: push; overlay: true; esc-close: true;">

				<!-- Off-Canvas Bar -->
				<div class="uk-offcanvas-bar bg-white uk-flex uk-flex-middle">
					<div>

						<!-- Off-Canvas Links-->
						<ul class="uk-nav-default uk-nav-parent-icon text-left" data-uk-nav>


							<li class="margin-top-20px"><a class="uk-navbar-item uk-logo" href="#" data-uk-scroll><span class="text-weight-700 text-gray-dark margin-left-right-auto text-extra-large">Argel Ramiro</span></a></li>

							<!-- Link -->
							<li class="margin-bottom-10px">

								<a href="index.html" class="bottom-border border-1px border-color-gray-extra-light" data-uk-scroll><span class="text-large text-gray-dark text-weight-400 padding-bottom-20px">Home</span></a>

							</li>
							<!-- End Link -->



							<!-- Link -->
							<li class="margin-bottom-10px">

								<a href="#gallery" class="bottom-border border-1px border-color-gray-extra-light" data-uk-scroll><span class="text-large text-gray-dark text-weight-400 padding-bottom-20px">Gallery</span></a>

							</li>
							<!-- End Link -->


							<!-- Link -->
							<li class="margin-bottom-10px">

								<a href="https://www.instagram.com/argeldiosep.photography/" class="bottom-border border-1px border-color-gray-extra-light" data-uk-scroll><span class="text-large text-gray-dark text-weight-400 padding-bottom-20px">Contact</span></a>

							</li>
							<!-- End Link -->

						</ul>
						<!-- End Off-Canvas Links -->



						<!-- Navigation Footer -->
						<div class="nav-footer margin-top-50px">


							<!-- Social Links for Off-Canvas Footer -->
							<ul class="list-unstyled no-margin-bottom margin-top-20px">

								<li class="display-inline-block margin-right-25px"><a href="https://www.facebook.com/argeldiosep"><i class="fab fa-facebook facebook"></i></a></li>
<!--								<li class="display-inline-block margin-right-25px"><a href="#"><i class="fab fa-twitter twitter"></i></a></li>-->
								<li class="display-inline-block margin-right-25px"><a href="https://www.instagram.com/argeldiosep.photography/"><i class="fab fa-instagram instagram"></i></a></li>
<!--								<li class="display-inline-block"><a href="#"><i class="fab fa-behance behance"></i></a></li>-->

							</ul>
							<!-- End Social Links for Off-Canvas Footer -->

							<!-- Copyright Information -->
							<p class="no-margin-bottom margin-top-20px text-large manrope text-weight-400 text-gray-dark text-weight-400">Copyright © 2022 <a href="https://www.templatemilk.com" target="_blank">templatemilk.</a></p>
							<p class="no-margin-bottom text-large manrope text-weight-400 text-gray-dark text-weight-400 text-black">All rights reserved.</p>
							<!-- End Copyright Information -->

						</div>
						<!-- End Navigation Footer -->

					</div>
				</div>
				<!-- End Off-Canvas Bar -->

			</div>
			<!-- End Off-Canvas Navigation -->


			<!-- Home -->
			<div class="uk-position-relative uk-visible-toggle" tabindex="-1" data-uk-slider="finite: true">

				<!-- Slider Container -->
				<ul class="uk-slider-items uk-child-width-1-3@m" data-uk-height-viewport>


					<li class="uk-transition-toggle uk-animation-toggle overflow-hidden sm-hidden">

						<!-- Slider Image -->
						<img src="images/mobile-hero.jpg" alt="" data-uk-cover />

						<!-- Slider Image Hover -->
						<div class="uk-position-cover swipe-white">

							<!-- Hover Content -->
							<div class="uk-position-center text-left height-100 width-100 uk-transition-fade">

								<!-- Hover Position -->
								<div class="uk-position-center text-center">

									<!-- Container -->
									<div class="container">

										<!-- Hover Icon for Lightbox -->
										<span data-uk-lightbox="animation: fade">

										<a href="images/mobile-hero.jpg" class="uk-inline-clip uk-transition-toggle margin-right-10px" tabindex="0" data-caption="This is a caption.">

											<span data-uk-icon="icon: search; ratio: 1" class="bg-brown text-white width-50px height-50px line-height-48 border-radius-100"></span>

										</a>

									</span>
										<!-- End Hover Icon for Lightbox -->

									</div>
									<!-- End Container -->

								</div>

							</div>
							<!-- Overlay Content -->

						</div>
						<!-- End Overlay -->

					</li>


					<li class="uk-transition-toggle uk-animation-toggle">


						<!-- Overlay -->
						<div class=" uk-position-cover mobile-cover">

							<!-- Overlay Content -->
							<div class="uk-position-center text-center text-gray-regular">

								<!-- Heading -->
								<img class="home-logo" src="images/square-logo.png" alt="">
<!--								<h1 class="title-large text-weight-700 sm-width-90 sm-margin-left-right-auto">Argel Ramiro</h1>-->

								<!-- Text -->
<!--								<p class="text-weight-400 text-gray-dark width-60 margin-left-right-auto">Photographer from Sydney.</p>-->
								<div style="background: white; padding: .5em; margin-bottom: 1em;">s
								<div class="text-weight-400 text-gray-dark" style="text-align: center">Featured in</div>
								<div style="display: flex; justify-content: space-around; padding: .5em 0">
									<img style="max-width: 40%; height: auto" src="images/b&b-logo.png" alt="">
									<img style="height: 2.4em" src="images/peerspace-logo.png" alt="">
								</div>
<!--									<span class="text-gray-dark" style="font-size: 1.2em">Model & Mode</span>-->
									<img style="max-width: 35%; height: auto; margin: 0 auto;" src="images/m&m-logo.png" alt="">
								</div>

								<a class="btn btn-medium btn-brown border-radius-50 sm-margin-left-right-auto sm-display-table" href="#categories">See My Work</a>

							</div>
							<!-- Overlay Content -->

						</div>
						<!-- End Overlay -->

					</li>


					<li class="uk-transition-toggle uk-animation-toggle overflow-hidden">

						<!-- Slider Image -->
						<img src="images/side-hero.jpg" alt="" data-uk-cover />

						<!-- Slider Image Hover -->
						<div class="uk-position-cover">

							<!-- Hover Content -->
							<div class="uk-position-center text-left height-100 width-100 uk-transition-fade">

								<!-- Hover Position -->
								<div class="uk-position-center text-center">

									<!-- Container -->
									<div class="container">

										<!-- Hover Icon for Lightbox -->
										<span data-uk-lightbox="animation: fade">

										<a href="images/side-hero.jpg" class="uk-inline-clip uk-transition-toggle margin-right-10px" tabindex="0" data-caption="This is a caption.">

											<span data-uk-icon="icon: search; ratio: 1" class="bg-brown text-white width-50px height-50px line-height-48 border-radius-100"></span>

										</a>

									</span>
										<!-- End Hover Icon for Lightbox -->

									</div>
									<!-- End Container -->

								</div>

							</div>
							<!-- Overlay Content -->

						</div>
						<!-- End Overlay -->

					</li>

				</ul>


				<a class="uk-position-center-left uk-position-small uk-hidden-hover overlay-black-dense width-50px height-50px line-height-35 border-radius-100 text-center" href="#" data-uk-slidenav-previous data-uk-slider-item="previous"></a>

				<a class="uk-position-center-right uk-position-small uk-hidden-hover overlay-black-dense width-50px height-50px line-height-35 border-radius-100 text-center" href="#" data-uk-slidenav-next data-uk-slider-item="next"></a>

			</div>
			<!-- End Home -->


			<!-- About -->
			<div id="about" class="bg-gray-transparent padding-top-bottom-150px">

				<!-- Container -->
				<div class="container">

					<!-- Row -->
					<div class="row" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; target: > div ; delay: 150; repeat: false">

						<!-- Column -->
						<div class="col-md-5 col-sm-12 col-xs-12 center-col text-center" data-uk-scrollspy="cls: uk-animation-slide-left-medium; target: > div ; delay: 50; repeat: false">

							<img src="images/self-portrait/argel-portrait.jpg" alt="" />

						</div>
						<!-- End Column -->



						<!-- Column -->
						<div class="col-md-5 col-sm-12 col-xs-12 center-col text-left uk-flex uk-flex-middle sm-text-center" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > div ; delay: 50; repeat: false">

							<div class="sm-margin-top-25px">

<!--								Hi my name is Argel Ramiro and I'm a portrait and wedding photographer based in Sydney, Australia. 
 I started my photography journey a decade ago, where I started to fell in love capturing portraits of people. I have so much fascination of people's unique stories and how they want their stories to be told that I ended up venturing on weddings and engagements as well. This further piqued my interest on how these stories or love stories should be told in a set of photographs that would become later on memories for you.

I am inspired by the classic look, colours and rendering of Analogue film. I am also drawn to the timeless aesthetic of black and white photos which also resonates on my work. My style is a mixture of gently posed portraits and documentary photography.

If I were to describe to you how would it feel shooting your photographs. Think of it like you asked a friend to document your day, relaxed, natural, uncomplicated.  -->

								<!-- Title -->
<!--								<h1 class="title-large text-weight-700 sm-width-90 sm-margin-left-right-auto">Who are we?</h1>-->

								<!-- Semi Title -->
								<p class="text-weight-400 margin-left-right-auto no-margin-bottom text-gray-dark">Hi my name is Argel Ramiro and I'm a portrait and wedding photographer based in Sydney, Australia.</p>

								<!-- Separator -->
								<div class="separator width-25px sm-center-col bottom-border border-2px border-color-gray-dark margin-top-bottom-25px sm-margin-left-right-auto"></div>

								<!-- Text Description -->
								<p class="text-weight-400 text-gray-dark width-75 sm-margin-left-right-auto">I started my photography journey a decade ago, where I started to fell in love capturing portraits of people. I have so much fascination of people's unique stories and how they want their stories to be told that I ended up venturing on weddings and engagements as well. This further piqued my interest on how these stories or love stories should be told in a set of photographs that would become later on memories for you.</p>

								<!-- Button -->
								<a class="btn btn-medium btn-transparent-brown border-radius-50 sm-margin-left-right-auto sm-display-table" href="page-about.html">Read More</a>

							</div>
							<!-- End Column -->

						</div>

					</div>
					<!-- End Row -->

				</div>
				<!-- End Container -->

			</div>
			<!-- End About -->

			<!-- Categories -->

			<div id="categories" class="">

				<!-- Container -->
				<div class="container-full">


					<!-- Categories Grid -->
					<div class="padding-15px">


						<!-- Container -->
						<div class="works uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@l uk-text-center uk-grid-small" data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; target: > div > a; delay: 150; repeat: false">

							<!-- Category -->
							<div v-for="item in categories" class="images">

								<a v-bind:href="item.page" class="uk-inline-clip uk-transition-toggle">

									<!-- Image -->
									<img v-bind:src="item.hero_src" alt="" />

									<!-- Hover -->
									<div class="uk-position-cover">

										<div class="uk-position-center overlay-white padding-75px">

											<p class="text-weight-700 text-gray-dark margin-left-right-auto text-extra-large">
												{{item.name}}</p>

											<div class="separator width-25px center-col bottom-border border-2px border-color-gray-dark margin-top-bottom-25px"></div>

											<p class="btn btn-medium btn-brown border-radius-50 sm-display-table sm-margin-left-right-auto no-margin-bottom">browse</p>

										</div>

									</div>
									<!-- End Hover -->

								</a>

							</div>
							<!-- Category -->


						</div>
						<!-- End Container -->

					</div>
					<!-- End Categories Grid -->

				</div>
				<!-- End Container -->

			</div>
			<!-- End Categories -->


			<!-- Portfolio Gallery -->
			<div id="gallery" class="bg-gray-transparent">

				<!-- Container -->
				<div class="padding-25px">

					<!-- Gallery Grid -->
					<div class="works uk-child-width-1-2 uk-child-width-1-2@m uk-child-width-1-3@l uk-text-center uk-grid-medium" data-uk-grid="masonry: true" data-uk-lightbox="animation: fade" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; target: > div > div; delay: 150; repeat: false">

						<!-- Work -->
						<div class="images" v-for="index in 74" :key="index">

							<div class="uk-inline-clip uk-transition-toggle" tabindex="0" >

								<!-- Image -->

								<a v-bind:href="`images/home/grid/0${index}.jpg`">
									<img v-bind:src="`images/home/grid/0${index}.jpg`" alt="" />
									<span class="text-lime margin-right-10px"></span>

								</a>

								<!-- Hover -->

							</div>

						</div>
						<!-- End Work -->

					</div>
					<!-- End Gallery Grid -->

				</div>
				<!-- End Container -->

			</div>
			<!-- End Portfolio Gallery -->


			<!-- Footer -->
			<footer>


				<!-- Row -->
				<div class="row container sm-container-spread center-col padding-top-bottom-150px" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; target: > div ; delay: 50; repeat: false">


					<!-- Column -->
					<div class="col-md-2 col-sm-6 col-xs-12 center-col md-margin-bottom-75px sm-text-center xs-no-border-left xs-no-padding-left">

						<!-- Title -->
						<h6 class="text-weight-700 text-gray-dark margin-left-right-auto text-extra-large">Links.</h6>

						<!-- Links -->
						<ul class="list-unstyled no-margin-bottom">

							<li class="margin-bottom-25px"><a class="text-large manrope text-weight-400 text-gray-dark" href="#"><span data-uk-icon="icon: home; ratio: 1" class="margin-right-5px position-relative bottom-2"></span> Home</a></li>
							<li class="margin-bottom-25px"><a class="text-large manrope text-weight-400 text-gray-dark" href="page-about.html"><span data-uk-icon="icon: info; ratio: 1" class="margin-right-5px position-relative bottom-2"></span> About</a></li>
<!--							<li class="margin-bottom-25px"><a class="text-large manrope text-weight-400 text-gray-dark" href="#"><span data-uk-icon="icon: thumbnails; ratio: 1" class="margin-right-5px position-relative bottom-2"></span> Projects</a></li>-->
<!--							<li class="margin-bottom-25px"><a class="text-large manrope text-weight-400 text-gray-dark" href="#"><span data-uk-icon="icon: pencil; ratio: 1" class="margin-right-5px position-relative bottom-2"></span> Stories</a></li>-->
							<li><a class="text-large manrope text-weight-400 text-gray-dark" href="#"><span data-uk-icon="icon: mail; ratio: 1" class="margin-right-5px position-relative bottom-2"></span> Contact</a></li>

						</ul>
						<!-- End Links -->

					</div>
					<!-- End Column -->



					<!-- Column -->
					<div class="col-md-2 col-sm-6 col-xs-12 center-col md-margin-bottom-75px sm-text-center">

						<!-- Title -->
						<h6 class="text-weight-700 text-gray-dark margin-left-right-auto text-extra-large">Socials.</h6>

						<!-- Links -->
						<ul class="list-unstyled no-margin-bottom">

							<li class="margin-bottom-25px"><a class="text-large manrope text-weight-400 text-gray-dark" href="https://www.facebook.com/argeldiosep"><span data-uk-icon="icon: facebook; ratio: 1" class="margin-right-5px position-relative bottom-2 facebook"></span> Facebook</a></li>
<!--							<li class="margin-bottom-25px"><a class="text-large manrope text-weight-400 text-gray-dark" href="#"><span data-uk-icon="icon: twitter; ratio: 1" class="margin-right-5px position-relative bottom-2 twitter"></span> Twitter</a></li>-->
							<li class="margin-bottom-25px"><a class="text-large manrope text-weight-400 text-gray-dark" href="https://www.instagram.com/argeldiosep.photography/"><span data-uk-icon="icon: instagram; ratio: 1" class="margin-right-5px position-relative bottom-2 instagram"></span> Instagram</a></li>
<!--							<li class="margin-bottom-25px"><a class="text-large manrope text-weight-400 text-gray-dark" href="#"><span data-uk-icon="icon: behance; ratio: 1" class="margin-right-5px position-relative bottom-2 behance"></span> Behance</a></li>-->
<!--							<li><a class="text-large manrope text-weight-400 text-gray-dark" href="#"><span data-uk-icon="icon: dribbble; ratio: 1" class="margin-right-5px position-relative bottom-2 dribbble"></span> Dribble</a></li>-->

						</ul>
						<!-- End Links -->

					</div>
					<!-- End Column -->


				</div>
				<!-- End Row -->

			</footer>
			<!-- End Footer -->

		</div>
		

		

		<!-- jQuery Library -->
		<script src="js/jquery.min.js"></script>
		
		<!-- Uikit Framework -->
		<script src="js/uikit.min.js"></script>
		
		<!-- Uikit Icons -->
		<script src="js/uikit-icons.min.js"></script>

		<!-- Bootstrap Framework -->
		<script src="js/bootstrap.min.js"></script>
		
		<!-- Modernizr -->
		<script src="js/modernizr.js"></script>
		
		<!-- Font Awesome -->
		<script src="js/fontawesome.min.js"></script>
		
		<!-- Tweenmax -->
		<script src="js/tweenmax.min.js"></script>
		
		<!-- Counter -->
<!--		<script src="js/counter.js"></script>-->
		
		<!-- Contact Form Validation -->
		<script src="js/contact.js"></script>
		
		<!-- Custom Scripts -->
		<script src="js/custom.js"></script>
		
	
	</body>

	<!--VUE STUFF HERE-->
	<script>
		Vue.createApp({
			data() {
				return {
					message: 'Hello Vue!',
					categories: [
						{name: 'Weddings', hero_src: 'images/home/wedding_hero.jpg', page: 'page-gallery-wedding.html'},
						{name: 'Engagement and Couples', hero_src: 'images/home/engagements_couple_hero.jpg', page: 'page-gallery-engagements.html'},
						{name: 'Portraits', hero_src: 'images/home/categories/portrait-hero.jpg', page: 'page-gallery-portraits.html'},
						{name: 'Family', hero_src: 'images/home/categories/family-hero.jpg', page: 'page-gallery-family.html'},
						]
				}
			}
		}).mount('#app')
	</script>

</html>
